import("stats", "graphics")
export(RM)
export(LLTM)
export(RSM)
export(LRSM)
export(PCM)
export(LPCM)
S3method(print, eRm)
S3method(summary, Rm)
S3method(plot, Rm)
S3method(model.matrix, eRm)
S3method(coef, eRm)
S3method(vcov, eRm)

