useDynLib(eRm)
import("stats", "graphics")
export(RM)
export(LLTM)
export(RSM)
export(LRSM)
export(PCM)
export(LPCM)
export(LRtest)
export(itemfit)
export(person.parameter)
export(personfit)
export(plotGOF)
export(plotICC)
export(plotjointICC)
export(pmat)
export(Waldtest)

S3method(print, eRm)
S3method(summary, eRm)
S3method(summary, ppar)
S3method(summary, LR)
S3method(model.matrix, eRm)
S3method(coef, eRm)
S3method(vcov, eRm)
S3method(print, LR)
S3method(print, ifit)
S3method(print, resid)
S3method(print, wald)
S3method(print, pfit)
S3method(print, ppar)
S3method(itemfit, ppar)
S3method(LRtest, Rm)
S3method(person.parameter, eRm)
S3method(personfit, ppar)
S3method(plotGOF, LR)
S3method(plotICC, Rm)
S3method(plotjointICC, dRm)
S3method(plot, ppar)
S3method(pmat, ppar)
S3method(residuals, ppar)
S3method(Waldtest, Rm)
S3method(logLik, eRm)

